<h2>Edit user</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_path(@conn, :update, @user) %>
<!-- sending our changeset and new action (update) it -->
<%= link "Back", to: user_path(@conn, :index) %>
